<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ToDo List</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <!-- <header>
        <div>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </header> -->
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add new item..." required />
            <button type="submit">Add Item</button>
        </form>
        <ul id="todoList"></ul>
        <hr />
        <ul id="completedList"></ul>
    </div>

    <script>
        const initialTodoList = `<%- JSON.stringify(todos)  %>`;
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <%- include('partials/loading') %>
        <script src="/static/todo-list.js"></script>
</body>

</html>