<div id="faded-page">
    <div class="loader"></div>
</div>

<script>
    function loading() {
        $("#faded-page").fadeIn("slow");
    }

    function loaded() {
        $("#faded-page").hide().fadeOut("slow");
    }
</script>